*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

:root {
    --bg-color: #121212;
    --text-color: #FFFFFF;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    transition: .3s;
}

.logo {
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 600;
    line-height: 0.8;
}

#menu-icon {
    font-size: 38px;
    color: var(--text-color);
    z-index: 10001;
    display: none;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}

.navbar a:hover {
    background: #525252;
    color: #FFF;
}

.shop {
    padding: 0px 8%;
}

section {
    padding: 0px 8%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.box {
    padding: 20px 20px 5px 20px;
    background: #525252;
    box-shadow: 5px 30px 56.1276px rgba(77, 73, 73, 0.12);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
}

.box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.box h4 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.box:hover {
    transform: translateY(-5px);
}

@media (max-width: 800px) {
    #menu-icon {
        display: block;
    }
    header {
        padding: 15px 8%;
    }
    .navbar {
        top: -500px;
        left: 0;
        right: 0;
        position: absolute;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
        transition: all .40s ease;
    }
    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0.5rem;
    }
    .navbar.active {
        top: 100%;
    }
}

.uwu {
    background-color: #eee;
    width: 330px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    margin-top: 100px;
  }  

input {
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.no-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}  

.result-number {
    color: var(--bg-color);
    display: none;
}